.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(18, 18, 79);
  border-radius: 15px;
  color: white;
  width: 30vw;
  max-height: 70vh;
  margin: auto;
  margin-top: 15vh;
  padding-top: 5vh;
  padding-bottom: 2vh;
}

input[type="text"] {
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 800px;

}

button {
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.weatherReport {
  display: flex;
  justify-content: space-between;
}

#temperature {
  display: block;
  margin-right: 21px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 10px;
}

#weatherInformation {
  display: block;
  margin-right: 30px;
  visibility: hidden;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 10px;
}

.image {
  width: 15vw;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}

@media (max-width: 767px) {
  .container {
    width: 85%;
    /* height: 50vh; */
    max-height: 70vh;
  }

  input[type="text"] {
    width: 200px;
  }
  .image{
    width: 25vw;
  }
}

@media (min-width: 768px) {
  .container {
    width: 85%;
    /* height: 50vh; */
    max-height: 70vh;
  }

  input[type="text"] {
    width: 200px;
  }
}
@media (max-width: 300px) {
  .container {
    width: 85%;
    /* height: 50vh; */
    max-height: 70vh;
  }

  input[type="text"] {
    width: 150px;
  }
  #weatherInformation{
    font-size: 15px;
  }
  #temperature{
    font-size: 15px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 50vw;
    max-height: 60vh;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 35vw;
    max-height: 60vh;

  }
  input[type="text"]{
    width: 300px;
  }
}